In [ ]:
#Notebook for Clustering project within IBM Data Science Coursera Capstone Module

In [1]:
#Import software
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [190]:
#Import data from wiki
hoods_raw=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
#Convert to pandas dataframe
hoods=pd.DataFrame(hoods_raw[0])
#Change names to the ones desired by the exercise
hoods.rename(columns={'Postal Code':'PostalCode','District':'Borough','Neighbourhood':'Neighborhood'}, inplace=True)
hoods.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [191]:
hoods.groupby(['Borough']).count()
#Use to see that 77 post codes are not assigned a borough. We need to drop these.

                  PostalCode  Neighborhood
Borough
Central Toronto            9             9
Downtown Toronto          19            19
East Toronto               5             5
East York                  5             5
Etobicoke                 12            12
Mississauga                1             1
North York                24            24
Not assigned              77            77
Scarborough               17            17
West Toronto               6             6
York                       5             5

In [192]:
hoods=hoods[hoods.Borough!='Not assigned'] #selects lines where borough is not 'Not assigned'
hoods.shape

(103, 3)

In [168]:
hoods[hoods.Neighborhood == 'Not assigned'].count() 
#Yields zero, which means that removing 'Not assigned' boroughs removed 'Not assigned' neighborhood lines as well.

PostalCode      0
Borough         0
Neighborhood    0
dtype: int64

In [169]:
ct=hoods.groupby(['PostalCode']).count()
ct2=ct[ct.Neighborhood==1]
ct3=ct[ct.Neighborhood>1]
print('Number of unique postal codes',ct.shape,'\nNumber of Postal codes with 1 neighborhood',ct2.shape,'\nNumber of Postal codes with more than 1 neighborhood',ct3.shape)
#Using shape attribute, we can see that each postal code only has one neighborhood field, 
#i.e. the aggregation of neighborhoods into one row per postal code was already done in raw data

Number of unique postal codes (103, 2)
Number of Postal codes with 1 neighborhood (103, 2)
Number of Postal codes with more than 1 neighborhood (0, 2)

In [170]:
hoods.shape

(103, 3)

In [ ]:
#This is first stopping point for assessment. Clustering continues below

In [193]:
#Get location data from csv
locdata=pd.read_csv('http://cocl.us/Geospatial_data')
locdata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [197]:
hoods2 = pd.merge(left=hoods, right=locdata, how='left', left_on='PostalCode', right_on='Postal Code')
hoods2.drop('Postal Code', axis=1, inplace=True)
#hoods2.sort_values('PostalCode', axis=0, inplace=True)
hoods2.head(11)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073

In [183]:
#Sort neighborhood data by postal code
#hoods.set_index('PostalCode')
#hoods.sort_values('PostalCode', axis=0, inplace=True)
#hoods.head()

In [151]:
#Join the two postal code columns into test dataframe, check that they match
#test=pd.DataFrame(zip(hoods.PostalCode,locdata.PostalCode))
#test['equal']=np.where(test[0]==test[1],'True','False')
#test.groupby(['equal']).count()

In [178]:
#append location columns from sorted locdata to sorted hoods dataframe
#hoods['Latitude']=locdata['Latitude']
#hoods['Longitude']=locdata['Longitude']
#hoods.head()