In [ ]:
#Notebook for Clustering project within IBM Data Science Coursera Capstone Module

In [1]:
#Import software
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [59]:
#Import data from wiki
hoods_raw=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
#Convert to pandas dataframe
hoods=pd.DataFrame(hoods_raw[0])
#Change names to the ones desired by the exercise
hoods.rename(columns={'Postal Code':'PostalCode','District':'Borough','Neighbourhood':'Neighborhood'}, inplace=True)
hoods.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [60]:
hoods.groupby(['Borough']).count()
#Use to see that 77 post codes are not assigned a borough. We need to drop these.

                  PostalCode  Neighborhood
Borough
Central Toronto            9             9
Downtown Toronto          19            19
East Toronto               5             5
East York                  5             5
Etobicoke                 12            12
Mississauga                1             1
North York                24            24
Not assigned              77            77
Scarborough               17            17
West Toronto               6             6
York                       5             5

In [61]:
hoods=hoods[hoods.Borough!='Not assigned'] #selects lines where borough is not 'Not assigned'
hoods.shape

(103, 3)

In [62]:
hoods[hoods.Neighborhood == 'Not assigned'].count() 
#Yields zero, which means that removing 'Not assigned' boroughs removed 'Not assigned' neighborhood lines as well.

PostalCode      0
Borough         0
Neighborhood    0
dtype: int64

In [76]:
ct=hoods.groupby(['PostalCode']).count()
ct2=ct[ct.Neighborhood==1]
ct3=ct[ct.Neighborhood>1]
print('Number of unique postal codes',ct.shape,'\nNumber of Postal codes with 1 neighborhood',ct2.shape,'\nNumber of Postal codes with more than 1 neighborhood',ct3.shape)
#Using shape attribute, we can see that each postal code only has one neighborhood field, 
#i.e. the aggregation of neighborhoods into one row per postal code was already done in raw data

Number of unique postal codes (103, 2)
Number of Postal codes with 1 neighborhood (103, 2)
Number of Postal codes with more than 1 neighborhood (0, 2)

In [77]:
hoods.shape

(103, 3)